---
import theater from '@data/theater.json';
import plays from '@data/plays.json';

import SocialMediaHead from '@components/head/social_media.astro';
import SeoEvent from '@components/head/seo_event.astro';
import SchemaOrganization from '@components/head/schema_organization.astro';

const { lang, title, description, robots, play_sid, seo_event, date, time } = Astro.props;

let now = new Date();

const pathname: string = new URL(Astro.request.url).pathname;
const currentPath: string[] = pathname.split('/').filter(Boolean);

let langRoot = false;
if (currentPath[currentPath.length - 1] === lang) langRoot = true;

let isCanonicalIndex = pathname === '/ru/';

let ogTitle = theater.longTheaterName[lang];
let pageTitle = theater.longTheaterName[lang];
if (title && title.length > 0) {
	if (langRoot) pageTitle = pageTitle + ' — ' + title;
	else pageTitle = title + ' — ' + pageTitle;
	ogTitle = title;
}

let pageDescription = description;
if ((!pageDescription || pageDescription.length === 0) && play_sid) {
	let play = plays.find(item => item.suffix === play_sid);
	let playDescription = play?.seo?.description;
	if (playDescription) pageDescription = playDescription[lang];
}

const addSeoEvent = seo_event === 'true';
---

<head>
	<meta charset='UTF-8' />
	<meta name='robots' content={robots} />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>{pageTitle}</title>
	{pageDescription && pageDescription.length > 0 && <meta name='description' content={pageDescription} />}
	<meta http-equiv='Last-Modified' content={now.toUTCString()} />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='HandheldFriendly' content='true' />
	<meta name='MobileOptimized' content='width' />
	<meta name='mobile-web-app-capable' content='yes' />
	{isCanonicalIndex && <link rel='canonical' href={theater.our_website_link + pathname} />}
	<link rel='icon' href='/favicon32.ico' sizes='32x32' />
	<link rel='icon' href='/favicon.ico' sizes='48x48' />
	<link rel='icon' type='image/png' href='/favicon.png' sizes='32x32' />
	<link rel='icon' type='image/png' href='/favicon.png' sizes='48x48' />
	<link rel='icon' type='image/png' href='/favicon96.png' sizes='96x96' />
	<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
	{
		theater.languages.map(lng => {
			return (
				<link
					rel='alternate'
					href={theater.our_website_link + pathname.replace(`/${lang}/`, `/${lng.lang_code}/`)}
					hreflang={lng.lang_code}
				/>
			);
		})
	}
	<link rel='alternate' href={theater.our_website_link + pathname.replace(`/${lang}/`, '/ru/')} hreflang='x-default' />
	<SchemaOrganization lang />
	<SocialMediaHead {lang} {description} og_title={ogTitle} {play_sid} />
	{addSeoEvent && <SeoEvent {lang} {play_sid} {date} {time} description={pageDescription} />}
	<meta name='generator' content={Astro.generator} />
</head>
