---
// import AntreprizaLayout from "../layouts/AntreprizaLayout.astro";
// const pageTitle = "Театр Антреприза Берлин";
// const pageLang = "ru";
import theater from '@data/theater.json'
import dictionary from '@data/dictionary.json'

let now = new Date();
---
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="index, follow" />
		<meta http-equiv="Last-Modified" content={now.toUTCString()}>
		<title>{theater.longTheaterName.ru}</title>
		<meta name="description" content={dictionary.description_index.ru}/>
		<meta name="google-site-verification" content="D5UaIDmzJIOUQz06voBegItDECWG5dKBhOxT6M-TWxw" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- TODO: -->
		<link rel="icon" href="/favicon32.ico" sizes="32x32" />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon.png" sizes="48x48" />
		<link rel="icon" type="image/png" href="/favicon96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		{
			theater.languages.map(lng => {
				return (
					<link rel="alternate" href={theater.main_website + "/" + lng.lang_code + "/"} hreflang={lng.lang_code} />
				);
			})
		}
		<link rel="alternate" href={theater.main_website + "/ru/"} hreflang="x-default" />
	</head>
	<body>
		<style>
			body{background-color:rgb(41, 41, 41);font-size:2px;}
		</style>
		
		{
			theater.languages.map(lng => {
				return (
					<div>
						<a href={theater.main_website + "/" + lng.lang_code + "/"}>{lng.lang_code.toUpperCase()}</a>
					</div>
				);
			})
		}
		<script is:inline>
			const CNF_LANG='LANG', LANG_RU='ru', LANG_DE='de';
			let currLang = LANG_RU;
			let userLang = localStorage.getItem(CNF_LANG) || navigator.language || navigator.userLanguage;
			if (userLang && userLang.toLowerCase().includes(LANG_DE)) currLang = LANG_DE;
			window.location.replace(`/${currLang}/`);
		</script>
	</body>
</html>


