---
import "../styles/footer.css"

import theater from '@data/theater.json'

import Logo from '../svg/logo.svg?url'
// import Symbols from '../svg/symbols.svg?url'
// import SocialIcons from '../svg/social.svg?url'

const {lang} = Astro.props;

---

<footer>
  <div class="footer-logo">
    <svg class="footer-logo-svg">
			<!-- <use href={Logo + "#logo"}></use> -->
			<use href={Logo + "#logo-text-" + lang}></use>
		</svg>
  </div>
  <div class="address">
  <p>{theater.stageAddress.street} {theater.stageAddress.building}</p>
  <p>{theater.stageAddress.index} {theater.stageAddress.city}</p>
  </div>
  <div class="tel-number" >
  <a href={"tel:"+theater.phone}>Tel {theater.phone}</a>
  </div>
  <div>
  <a class="footer-text-link" href="#">IMPRESSUM</a>
  <a class="footer-text-link" href="#">DATENSCHUTZ</a>
  </div>
</footer>