---
import "../styles/footer.css"

import theater from '@data/theater.json'
import dictionary from '@data/dictionary.json'

import Logo from '../svg/logo.svg?url'
// import Symbols from '../svg/symbols.svg?url'
// import SocialIcons from '../svg/social.svg?url'

const {lang} = Astro.props;

---

<footer class="flex1">
  <div class="flex1-item">
    <div class="footer-logo">
      <svg class="footer-logo-svg">
        <!-- <use href={Logo + "#logo"}></use> -->
        <use href={Logo + "#logo-text-" + lang}></use>
      </svg>
    </div>
    <div class="address">
      <address class="info-text opacity0">{theater.stageAddress.name}</address>
      <address class="info-text opacity0">{theater.stageAddress.full_string}</address>
      <a class="info-text opacity0" href={"tel:"+theater.phone}><span class="opacity1">Tel :</span> {theater.phone}</a>
      <a class="info-text opacity0" href="mailto:info@antrepriza.eu"><span class="opacity1">Email :</span> info@antrepriza.eu</a>
    </div>
  </div>
  <!-- <div class="flex-item">
    <a class="footer-text-link" href="#">IMPRESSUM</a>
    <a class="footer-text-link" href="#">DATENSCHUTZ</a>
  </div> -->
  <div class="flex1-item flex2">
    <div class="parners">
      <div class="opacity1">{dictionary.partners[lang].toUpperCase()}</div>
      <div></div>
    </div>
    <div class="web-developer">
      <div class="label opacity1">{dictionary.web_developer[lang]}</div>
      <a class="opacity1 bold1" href={theater.web_developer.url} target="_blank"	rel="noopener external">{theater.web_developer.name[lang]}</a> 
    </div>
  </div>
</footer>