---
import "@styles/footer.css"

import theater from '@data/theater.json'
import dictionary from '@data/dictionary.json'

import Logo from '../svg/logo.svg?url'
// import Symbols from '../svg/symbols.svg?url'
// import SocialIcons from '../svg/social.svg?url'

const {lang} = Astro.props;

import Loader from "@components/loader.astro";

import type { ImageMetadata } from 'astro'
import { Picture } from 'astro:assets'
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');

---

<footer>
  <div class="footer-flex">
    <div class="footer-flex-item flex2">
      <div class="footer-logo">
        <a href={"/" + lang + "/"}>
          <svg class="footer-logo-svg">
            <!-- <use href={Logo + "#logo"}></use> -->
            <use href={Logo + "#logo-text-" + lang}></use>
          </svg>
        </a>
      </div>    
      <div class="address">
        <div class="info-text font-opacity0">{theater.stageAddress.name}</div>
        <div class="info-text font-opacity0">{theater.stageAddress.full_string}</div>
      </div>
      <div class="contact">
        <div class="info-text font-opacity0">
          <a href={"tel:"+theater.phone}>{dictionary.telephone_short[lang]}: <span class="font-opacity1 phone-number">{theater.phone}</span></a>
        </div>
        <div class="info-text font-opacity0">
          <a href={"mailto:"+theater.email}>{dictionary.email[lang]}: <span class="font-opacity1">{theater.email}</span></a>
        </div>
      </div>
    </div>
    <div class="footer-flex-item flex2">
      <div class="newsletter">
        <div class="newsletter-label">{dictionary.newsletter_title[lang]}</div>
        <div class="newsletter-form">
        <input type="text" class="newsletter__input" name="email" placeholder={dictionary.email_hint[lang]} autocomplete="on">
        <button class="newsletter__button">&#10153;</button>
        </div>
      </div>
      <div class="question lh-1-3">
        <input class="question-layer-switcher" type="checkbox" id="question__checkbox" name="question" value="question"/>
        <label class="question-switcher-label opacoty1" for="question__checkbox">{dictionary.question_form_label[lang]}</label>
        <div class="question-layer flex-center layer-on-window glass6">
          <div class="modal-dialog question-dialog">
            <div class="question-close" >
              <label class="question-switcher-label" for="question__checkbox">&#10006;</label>
            </div>
            <form method="POST" id="question-form" class="question-form" onsubmit="submitQuestionForm(event)" data-netlify="true">
              <input type="hidden" name="subject" value={theater.shortTheaterName[lang] + " [" + lang.toUpperCase() + "]: " + "{topic} (#%{submissionId})"}  />
              <div class="form-label font-opacity0">{dictionary.question_subject[lang]}</div>
              <div class="select-wrapper">
                <select class="form-input" name="topic" id="topic">
                {
                  theater.question_subjects.map(subject => {
                    return (
                      <option>{dictionary[subject][lang]}</option>
                    )
                  })
                }
                </select>
              </div>
              <!-- <input class="q-input" type="text" name="theme"> -->
              <div class="form-label required font-opacity0">{dictionary.name[lang]}</div>
              <input class="form-input" type="text" name="name" placeholder={dictionary.name_hint[lang]} autocomplete="on">
              <div class="form-error" data-for="name"></div>
              <div class="form-label required font-opacity0">{dictionary.email[lang]}</div>
              <input class="form-input" type="text" name="email" placeholder={dictionary.email_hint[lang]} autocomplete="on">
              <div class="form-error" data-for="email"></div>
              <div class="form-label required font-opacity0">{dictionary.message[lang]}</div>
              <textarea class="form-input" name="message" rows="5" maxlength="2000" placeholder={dictionary.message_hint[lang]} autocomplete="on"></textarea>
              <div class="form-error" data-for="message"></div>
              <div class="question-btn-wrapper">
                <button class="pink-button" type="submit">{dictionary.question_btn_send[lang]}</button>
              </div>
            </form>
            <Loader js_loader_name='question-form-loader' background='no'></Loader>
            <div class="layer-on-parent question-form-result-wrapper glass1_5">
              <div class="question-form-result">
                <div class="question-form-result-message"></div>
                <button class="question-form-result-button">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lh-1-3">
        <div><a class="footer-text-link" href={"/" + lang + "/impressum"}>{dictionary.impressum[lang]}</a></div>
        <div><a class="footer-text-link" href={"/" + lang + "/privacy-policy"}>{dictionary.privacy_policy[lang]}</a></div>
      </div>
      <div class="copyright-year font-opacity1">© 2024 {theater.longTheaterName[lang]}</div>
    </div>
    <div class="footer-flex-item flex2">
      <div class="footer-partners">
        <div class="title font-opacity1">{dictionary.partners[lang].toUpperCase()}</div>
        <div class="logo-flex">
          <div class="logo-50 hover-block">
            <a class="black-white-filter" href="https://svoi.berlin/" target="_blank"	rel="noopener external">
              <Picture 
                class:list={'image-wrapper-landscape'} 
                src={images["/src/assets/logo_svoi.png"]()} 
                formats={['webp']} 
                sizes={'50px'}
                alt="Svoi.Berlin" />
              </a>
          </div>
          <div class="logo-50 hover-block">
            <a class="black-white-filter" href="https://www.auswaertiges-amt.de/" target="_blank"	rel="noopener external">
              <Picture 
                class:list={'image-wrapper-landscape'} 
                src={images["/src/assets/logo_auswaertiges_amt.png"]()} 
                formats={['webp']} 
                sizes={'50px'}
                alt="Auswärtiges Amt" />
              </a>
          </div>
          <div class="logo-50 hover-block">
            <a class="black-white-filter" href="https://www.neue-buehne-friedrichshain.de/" target="_blank"	rel="noopener external">
              <Picture 
                class:list={'image-wrapper-landscape'} 
                src={images["/src/assets/logo_nbf.png"]()} 
                formats={['webp']} 
                sizes={'50px'}
                alt="Neue Bühne Friedrichshain" />
              </a>
          </div>
          <div class="logo-75 hover-block">
            <a class="black-white-filter" href="https://www.kontramarka.de" target="_blank"	rel="noopener external">
              <Picture 
                class:list={'image-wrapper-landscape'} 
                src={images["/src/assets/logo_kontramarka.png"]()} 
                formats={['webp']} 
                sizes={'75px'}
                alt="Kontramarka" />
              </a>
          </div>
          <div class="logo-75 hover-block">
            <a class="black-white-filter" href="https://www.quarteera.de/" target="_blank"	rel="noopener external">
              <Picture 
                class:list={'image-wrapper-landscape'} 
                src={images["/src/assets/logo_quarteera.png"]()} 
                formats={['webp']} 
                sizes={'75px'}
                alt="Quarteera" />
              </a>
          </div>
        </div>
      </div>
      <div class="web-developer">
        <div class="label font-opacity1">{dictionary.web_developer[lang]}</div>
        <a class="font-opacity1 bold1" href={theater.web_developer.url} target="_blank"	rel="noopener external">{theater.web_developer.name[lang]}</a> 
      </div>
    </div>
  </div>
</footer>
