---
import "@styles/header.css"

import Symbols from '@svg/symbols.svg?url'
import AntreprizaLogo from '@svg/logo.svg?url'

const {lang} = Astro.props;

import dictionary from '@data/dictionary.json'
import theater from '@data/theater.json'
import plays from '@data/plays.json'

import Menu from '@components/menu/menu.astro'
import TicketPageButton from '@components/ticket_page_button/ticket_page_button.astro'
import SocialPages from '@components/social_pages/social_pages.astro'
import Toolbar from '@components/toolbar/toolbar.astro'


plays.sort((play1, play2) => play1.alt_title[lang].toLowerCase().localeCompare(play2.alt_title[lang].toLowerCase(), lang));

const pathname: string = new URL(Astro.request.url).pathname;
const currentPath: string[] = pathname.split("/").filter(Boolean);

---
<script>
  import { initThemeMode, initHeaderSubMenuListener, initHoverModeForTouchScreen } from "@scripts/antrepriza.js"
	document.addEventListener('DOMContentLoaded', () => {
		initThemeMode();
		initHeaderSubMenuListener();
		initHoverModeForTouchScreen()
	});
</script>

<header class="toolbar-grid" id="header" lang={lang}>
	<div class="toolbar-lang-item expand-menu">
		<div class="toolbar-dropbtn" tabindex="-1">
			<div>
				<svg class="toolbar-icon-language">
					<use href={Symbols + '#language'}></use>
				</svg>
				<span id="language-text">{lang}</span>
			</div>
		</div>
		<div class="dropdown-box">
			<ul>
			{
				theater.languages.map(lng => {
					return (
						<li class="dropdown-item">
							<a href={theater.our_website_link + pathname.replace('/'+lang+'/', '/'+lng.lang_code+'/')} class="dropdown-item-link">
								<span class="lang-brief">{lng.lang_code.toUpperCase()}</span>
								<span class="lang-title">{lng.lang_name}</span>
							</a>
						</li>
					);
				})
			}
			</ul>
		</div>
	</div>
	<nav class="navigator-grid">
		<div class="navigator-logo-item">
			<a href={"/" + lang + "/"} class:list={{active_link: currentPath[1] === undefined}}>
				<svg class="navigator-icon-logo-text">
					<use href={AntreprizaLogo + '#logo-text-' + lang}></use>
					<title>{dictionary.logo[lang]}</title>
				</svg>
				<svg class="navigator-icon-logo">
					<use href={AntreprizaLogo + '#logo'}></use>
					<title>{dictionary.logo[lang]}</title>
				</svg>
			</a>
		</div>
    <Menu lang={lang} />
		<TicketPageButton lang={lang} />
    <div class="social-block">
			<SocialPages lang={lang} />
		</div>
	</nav>
	<div class="toolbar-block">
		<Toolbar lang={lang}/>
	</div>
</header>

<header class="header-mobile" id="header-mobile" lang={lang}>
	<div class="header-burger">
		<button class="header-burger-button">
			<svg class="burger-icon" viewBox="0 0 100 100">
				<rect
					class="line top"
					width="80"
					height="8"
					x="10"
					y="25"
					rx="5"
				></rect>
				<rect
					class="line middle"
					width="55"
					height="8"
					x="10"
					y="46"
					rx="5"
				></rect>
				<rect
					class="line bottom"
					width="80"
					height="8"
					x="10"
					y="67"
					rx="5"
				></rect>
			</svg>
		</button>
		<nav class="burger-menu">
			<ul>
				<Menu lang={lang} add_classes="mobile"/>
				<SocialPages lang={lang} add_classes="mobile" />
				<Toolbar lang={lang} add_classes="mobile"/>

				<li class="burger-item">
					{
						theater.languages.map(lng => {
							if (lng.lang_code != lang) {
								return (
									<a href={pathname.replace('/'+lang+'/', '/'+lng.lang_code+'/')}>
										<span class="lang-brief">{lng.lang_code.toUpperCase()}</span>
										<span class="lang-title">{lng.lang_name}</span>
									</a>
								);
							}
						})
					}
				</li>
			</ul>
		</nav>
	</div>
	<a class="header-logo" href={"/" + lang + "/"} class:list={{active_link: currentPath[1] === undefined}}>
		<svg class="header-logo-text-icon">
			<use href={AntreprizaLogo + "#logo-text-" + lang}></use>
		</svg>
		<svg class="header-logo-icon">
			<use href={AntreprizaLogo + "#logo"}></use>
		</svg>
	</a>
	<div></div>
	<TicketPageButton lang={lang} />
</header>
<div class="main-padding-top"></div>
