---
import "@styles/header.css"

import Symbols from '@svg/symbols.svg?url'
import AntreprizaLogo from '@svg/logo.svg?url'
import SocialIcons from '@svg/social.svg?url'

const {lang} = Astro.props;

import dictionary from '@data/dictionary.json'
import theater from '@data/theater.json'

import plays from '@data/plays.json'

plays.sort((play1, play2) => play1.alt_title[lang].toLowerCase().localeCompare(play2.alt_title[lang].toLowerCase(), lang));

const menuProgram = { link: "program", text: dictionary.program[lang] };
const menuPlays = { link: "plays", text: dictionary.plays[lang] };
const menuTheater = { link: "theater", text: dictionary.theater[lang] };
const menuMediathek = { link: "gallery", text: dictionary.gallery[lang] };
const menuSupport = { link: "support", text: dictionary.support[lang] };
const menuTickets = { link: "tickets", text: dictionary.tickets[lang] };

const pathname: string = new URL(Astro.request.url).pathname;
const currentPath: string[] = pathname.split("/").filter(Boolean);

---
<script>
  import { initThemeMode, initHeaderSubMenuListener, initHoverModeForTouchScreen } from "@scripts/antrepriza.js"
	document.addEventListener('DOMContentLoaded', () => {
		initThemeMode();
		initHeaderSubMenuListener();
		initHoverModeForTouchScreen()
	});
</script>

<header class="toolbar-grid" id="header" lang={lang}>
	<div class="toolbar-lang-item expand-menu">
		<div class="toolbar-dropbtn" tabindex="-1">
			<div>
				<svg class="toolbar-icon-language">
					<use href={Symbols + '#language'}></use>
				</svg>
				<span id="language-text">{lang}</span>
			</div>
		</div>
		<div class="dropdown-box">
			<ul>
			{
				theater.languages.map(lng => {
					return (
						<li class="dropdown-item">
							<a href={theater.our_website_link + pathname.replace('/'+lang+'/', '/'+lng.lang_code+'/')} class="dropdown-item-link">
								<span class="lang-brief">{lng.lang_code.toUpperCase()}</span>
								<span class="lang-title">{lng.lang_name}</span>
							</a>
						</li>
					);
				})
			}
			</ul>
		</div>
	</div>
	<nav class="navigator-grid">
		<div class="navigator-logo-item">
			<a href={"/" + lang + "/"} class:list={{active_link: currentPath[1] === undefined}}>
				<svg class="navigator-icon-logo-text">
					<use href={AntreprizaLogo + '#logo-text-' + lang}></use>
					<title>{dictionary.logo[lang]}</title>
				</svg>
				<svg class="navigator-icon-logo">
					<use href={AntreprizaLogo + '#logo'}></use>
					<title>{dictionary.logo[lang]}</title>
				</svg>
			</a>
		</div>
		<div>
			<div class="navigator-menu-grid">
				<div><a href={"/" + lang + "/" + menuProgram.link} class:list={{active_link: currentPath[1] === menuProgram.link}}>{menuProgram.text}</a></div>
				<div class="expand-menu">
					<div class="toolbar-dropbtn">
						<a href={"/" + lang + "/" + menuPlays.link} class:list={{active_link: currentPath[1] === menuPlays.link}}>
							{menuPlays.text}
						</a>
						&nbsp;
						<svg class="menu-drop-down-symbol">
							<use href={Symbols + "#drop-down"}></use>
						</svg>
						&nbsp;
					</div>
					<div class="dropdown-box">
						<ul>
							{
								plays.map((play) => {
									return (
										<li class="dropdown-item">
											<a
												class:list={['dropdown-item-link', 'item-flex', {active_link: currentPath[1] === menuPlays.link && currentPath[2] === play.suffix}]}												 
												href={"/"+lang+"/plays/"+play.suffix}>
													<div>{play.alt_title[lang]}</div>
													{
														play.title_notice &&
														<div class="font-opacity1 bold1">{play.title_notice[lang]}</div>
													}													
											</a>
										</li>
									);
								} )
							}
						</ul>
					</div>
				</div>
				<div class="expand-menu">
					<div class="toolbar-dropbtn">
						<span class:list={[{active_link: currentPath[1] === menuTheater.link}]}>{menuTheater.text}&nbsp;</span>
						<svg class="menu-drop-down-symbol">
							<use href={Symbols + "#drop-down"}></use>
						</svg>
						&nbsp;
					</div>
					<div class="dropdown-box">
						<ul>
							{
								theater.menu.map((info) => {
									return (
										<li class="dropdown-item">
											<a
												class:list={['dropdown-item-link', 'item-flex', {active_link: currentPath[1] === menuTheater.link && currentPath[2] === info.url}]}												 
												href={"/"+lang+"/theater/"+info.url}>
													<div>{dictionary[info.dict_word][lang]}</div>
											</a>
										</li>
									);
								} )
							}
						</ul>
					</div>
				</div>
				<div>
					<a href={"/" + lang + "/" + menuMediathek.link} class:list={{active_link: currentPath[1] === menuMediathek.link}}>
						{menuMediathek.text}
					</a>
				</div>
				<div>
					<a href={"/" + lang + "/" + menuSupport.link} class:list={{active_link: currentPath[1] === menuSupport.link}}>
						{menuSupport.text}
					</a>
				</div>
			</div>
		</div>
		<a class="header-tickets-button" href={"/" + lang + "/" + menuTickets.link} class:list={{active_link: currentPath[1] === menuTickets.link}}>{menuTickets.text}</a>

		<ul class="navigator-social-pages">
		{
			theater.social_pages.map((socialPage) => {
				return (
					<li class="social-item">
						<a href={socialPage.url} target="_blank"	rel="noopener external">
							<svg class:list={['social-icon', 'toolbar-icon', socialPage.name.toLowerCase()]}>
								<use href={SocialIcons + socialPage.svg}></use>
								<title>{dictionary.logo[lang]} {socialPage.name}</title>
							</svg>
						</a>
					</li>
				);
			} )
		}
		</ul>
	</nav>
	<div class="toolbar-tools-grid">
		<div class="tools-item">
			<label class="theme-changer" for="theme__checkbox">
				<input class="theme-checkbox"	type="checkbox"	id="theme__checkbox"/>
				<span class="dark-mode-checkbox">
					<svg class="toolbar-icon">
						<use href={Symbols + "#dark-mode"}></use>
						<title>{dictionary.themeTextDark[lang]}</title>
					</svg>
				</span>
				<span class="light-mode-checkbox">
					<svg class="toolbar-icon">
						<use href={Symbols + "#light-mode"}></use>
						<title>{dictionary.themeTextLight[lang]}</title>
					</svg>
				</span>
			</label>
		</div>
		<!-- <div class="tools-item">
			<svg class="toolbar-icon">
				<use href={Symbols + "#search"}></use>
			</svg>
		</div> -->
	</div>
</header>

<header class="header-mobile" id="header-mobile" lang={lang}>
	<div class="header-burger">
		<button class="header-burger-button">
			<svg class="burger-icon" viewBox="0 0 100 100">
				<rect
					class="line top"
					width="80"
					height="8"
					x="10"
					y="25"
					rx="5"
				></rect>
				<rect
					class="line middle"
					width="55"
					height="8"
					x="10"
					y="46"
					rx="5"
				></rect>
				<rect
					class="line bottom"
					width="80"
					height="8"
					x="10"
					y="67"
					rx="5"
				></rect>
			</svg>
		</button>
		<nav class="burger-menu">
			<ul>
				<li class="burger-item">
					<a href={"/" + lang + "/" + menuProgram.link} class:list={{active_link: currentPath[1] === menuProgram.link}}>
						{menuProgram.text}
					</a>
				</li>
				<li class="burger-item expanded">
					<div class="burger-submenu-title">
						<div class="submenu-title-text">
							<a href={"/" + lang + "/" + menuPlays.link} class:list={{active_link: currentPath[1] === menuPlays.link}}>
								{menuPlays.text}
							</a>
						</div>
						<button class="submenu-symbol-button">
							<svg class="submenu-symbol">
								<use href={Symbols + "#drop-down"}></use>
							</svg>
						</button>
					</div>
					<ul class="burger-submenu-list">
					{
						plays.map((play) => {
							return (
								<li class="burger-submenu-item">
									<a
										class:list={['item-flex', {active_link: currentPath[1] === menuPlays.link && currentPath[2] === play.suffix}]}												 
										href={"/"+lang+"/plays/"+play.suffix}>
											<div>{play.alt_title[lang]}</div>
											{
												play.title_notice &&
												<div class="font-opacity1 bold1">{play.title_notice[lang]}</div>
											}													
									</a>
								</li>
							);
						} )
					}
					</ul>
				</li>
				<li class="burger-item expanded">
					<div class="burger-submenu-title">
						<div class:list={["submenu-title-text", {active_link: currentPath[1] === menuTheater.link}]}>
							{menuTheater.text}
						</div>
						<button class="submenu-symbol-button">
							<svg class="submenu-symbol">
								<use href={Symbols + "#drop-down"}></use>
							</svg>
						</button>
					</div>
					<div class="burger-submenu">
						<ul class="burger-submenu-list">
							{
								theater.menu.map((info) => {
									return (
										<li class="burger-submenu-item">
											<a
												class:list={['item-flex', {active_link: currentPath[1] === menuTheater.link && currentPath[2] === info.url}]}												 
												href={"/"+lang+"/theater/"+info.url}>
													<div>{dictionary[info.dict_word][lang]}</div>
											</a>
										</li>
									);
								} )
							}
						</ul>
					</div>
				</li>
				<li class="burger-item">
					<a href={"/" + lang + "/" + menuMediathek.link} class:list={{active_link: currentPath[1] === menuMediathek.link}}>
						{menuMediathek.text}
					</a>
				</li>
				<li class="burger-item">
					<a href={"/" + lang + "/" + menuSupport.link} class:list={{active_link: currentPath[1] === menuSupport.link}}>
						{menuSupport.text}
					</a>
				</li>
				<li class="burger-separate-item"></li>
				<li class="burger-item">
					<ul class="social-pages">
					{
						theater.social_pages.map((socialPage) => {
							return (
								<li>
									<a href={socialPage.url} target="_blank"	rel="noopener external">
										<svg class:list={['header-icon', socialPage.name.toLowerCase()]}>
											<use href={SocialIcons + socialPage.svg}></use>
											<title>{dictionary.logo[lang]} {socialPage.name}</title>
										</svg>
									</a>
								</li>
							);
						} )
					}
					</ul>
				</li>
				<li class="burger-item">
					<label class="theme-changer" for="burger-theme__checkbox">
						<input class="theme-checkbox" type="checkbox" id="burger-theme__checkbox"/>
						<div class="dark-mode-checkbox">
							<svg class="header-icon theme">
								<use href={Symbols + "#dark-mode"}></use>
							</svg>
							<span class="theme-changer-text">{dictionary.themeTextDark[lang]}</span>
						</div>
						<div class="light-mode-checkbox">
							<svg class="header-icon theme">
								<use href={Symbols + "#light-mode"}></use>
							</svg>
							<span class="theme-changer-text">{dictionary.themeTextLight[lang]}</span>
						</div>
					</label>
				</li>

				<li class="burger-item">
					{
						theater.languages.map(lng => {
							if (lng.lang_code != lang) {
								return (
									<a href={pathname.replace('/'+lang+'/', '/'+lng.lang_code+'/')}>
										<span class="lang-brief">{lng.lang_code.toUpperCase()}</span>
										<span class="lang-title">{lng.lang_name}</span>
									</a>
								);
							}
						})
					}
				</li>
			</ul>
		</nav>
	</div>
	<a class="header-logo" href={"/" + lang + "/"} class:list={{active_link: currentPath[1] === undefined}}>
		<!-- <svg class="navigator-icon-logo-text"> -->
		<!-- <picture class="header-logo-text-icon">
			<source srcset={AntreprizaLogo + "#logo-" + lang} type="image/svg+xml" media="(max-width: 570px)">
			<source srcset={AntreprizaLogo + "#logo-text-" + lang} type="image/svg+xml">
			<source srcset="logo_1x.png 1x, logo_2x.png 2x" media="(max-width: 570px)">
			<img src={"logo_text_1x_" + lang + ".png"} srcset={"logo_text_2x_" + lang + ".png 2x"} alt="">
		</picture> -->
		<svg class="header-logo-text-icon">
			<use href={AntreprizaLogo + "#logo-text-" + lang}></use>
		</svg>
		<svg class="header-logo-icon">
			<use href={AntreprizaLogo + "#logo"}></use>
		</svg>
	</a>
	<div></div>
	<a class="header-tickets-button" href={"/" + lang + "/" + menuTickets.link} class:list={{active_link: currentPath[1] === menuTickets.link}}>{menuTickets.text}</a>
</header>
<div class="main-padding-top"></div>
