---
const { lang } = Astro.props;

import dictionary from '@data/dictionary.json'
import theater from '@data/theater.json'

import '@styles/theater.css'

import YouTubePlayer from "@components/youtube_player/youtube_player.astro"
import PlayNameLink from "@components/play_name_link.astro"

import ContentRu from '@layouts/content/theater/about_ru.astro'
import ContentDe from '@layouts/content/theater/about_de.astro'

let Content;
if (lang === 'de') Content = ContentDe;
else Content = ContentRu;

let stageOst = theater.stages.find(stg => stg.sid === "ost");

---

<section class="about">
  <h1 class="section-title">{dictionary.menu_about[lang]}</h1>
  <div class="description">
    <Content>
      <b slot='theater-name' class="big-font"><a class="a-no-u" href={"/" + lang + "/"}>{theater.longTheaterName[lang]}</a></b>
      <Fragment slot='play-name-link-ts'><PlayNameLink play_suffix="ts" lang={lang} has_quotes="true" classes="font-opacity1 bold1 a-no-u"/></Fragment>
      <Fragment slot='play-name-link-dk'><PlayNameLink play_suffix="dk" lang={lang} has_quotes="true" classes="font-opacity1 bold1 a-no-u"/></Fragment>
      <Fragment slot='play-name-link-op'><PlayNameLink play_suffix="op" lang={lang} has_quotes="true" classes="font-opacity1 bold1 a-no-u"/></Fragment>
      <Fragment slot='play-name-link-mik'><PlayNameLink play_suffix="mik" lang={lang} has_quotes="true" classes="font-opacity1 bold1 a-no-u"/></Fragment>
      <Fragment slot='play-name-link-miks'><PlayNameLink play_suffix="miks" lang={lang} has_quotes="true" classes="font-opacity1 bold1 a-no-u"/></Fragment>
      <Fragment slot='play-name-link-n32'><PlayNameLink play_suffix="n32" lang={lang} has_quotes="true" classes="font-opacity1 bold1 a-no-u"/></Fragment>
      <Fragment slot='play-name-link-pip'><PlayNameLink play_suffix="pip" lang={lang} has_quotes="true" classes="font-opacity1 bold1 a-no-u"/></Fragment>
      <b slot='theater-stage'><a class="a-no-u" href={stageOst.place_website} target="_blank"	rel="noopener external">{stageOst.place_name}</a></b>
      <i slot='theater-address'>{stageOst.address.full_string}</i>
      <div slot='reviews' class='flex-center flex-review'>
        <div><a href="https://g.page/r/CXSamsbDK3NlEBI/review" target="_blank"	rel="noopener external"><img src = "/google-logo.svg" alt="Google Reviews Antrepriza" class="google-svg"/></a></div>
        <div><a href="https://www.facebook.com/AntreprizaBerlin/reviews" target="_blank"	rel="noopener external"><img src = "/facebook-logo.svg" alt="Facebook Reviews Antrepriza" class="facebook-svg"/></a></div>
      </div>
      <b slot="afisha"><a class="a-no-u" href={"/" + lang + "/program"}>
        { lang === 'ru' && 'афишей'}
        { lang !== 'ru' && dictionary.program[lang]}
      </a></b>
    </Content>
  </div>
  <YouTubePlayer lang={lang} url={theater.promo_video_about} />
  <div class="page-end"></div>
</section>
