---
import '@styles/font.css';
import '@styles/init.css';
import '@styles/antrepriza.css';

import dictionary from '@data/dictionary.json';

import Head from '@components/head/head.astro';
import Admin from '@components/vue/admin/AdminRoot.vue';

const { title, description, lang, robots = 'noindex, nofollow', seo_event = 'false' } = Astro.props;
---

<html lang={lang} data-theme='dark'>
	<Head lang={lang} title={title} description={description} robots={robots} seo_event={seo_event} />

	<body>
		<Admin client:only='vue' />
		<input type='checkbox' id='theme-switcher' tabindex='-1' aria-label={dictionary.aria_theme_switch[lang]} checked />
	</body>
</html>
