---
import "@styles/font.css"
import "@styles/init.css"
import "@styles/antrepriza.css"

import theater from '@data/theater.json'

import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Reservation from "@react-components/reservation/Reservation";

import FeedbackForm from "@components/feedback_form.astro"
import TicketForm from "@components/ticket_form.astro";

const { title, description, lang, reservation, robots = "index, follow", ticket_form = "no" } = Astro.props;

const pathname: string = new URL(Astro.request.url).pathname;
const currentPath: string[] = pathname.split("/").filter(Boolean);

let langRoot = false;
if (currentPath[currentPath.length-1] === lang) langRoot = true;

let now = new Date();
let pageTitle =  theater.longTheaterName[lang];
if (title && title.length > 0) {
	if (langRoot) pageTitle = pageTitle +  ' — ' + title;
	else pageTitle = title +  ' — ' + pageTitle;
}

let pageNeedTicketForm = (ticket_form === "yes");
let isCanonicalIndex = (pathname === '/ru/');

	// <link rel="preload" href="/fonts/roboto/Roboto-Thin.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-Thin.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-Light.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-LightItalic.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-Regular.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-Italic.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-Medium.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-MediumItalic.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-Bold.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-Black.ttf" as="font" type="font/woff2" crossorigin/>

	// <link rel="preload" href="/fonts/roboto/Roboto-BoldItalic.ttf" as="font" type="font/woff2" crossorigin/>
	// <link rel="preload" href="/fonts/roboto/Roboto-BlackItalic.ttf" as="font" type="font/woff2" crossorigin/>

---

<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content={robots} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Last-Modified" content={now.toUTCString()}>
		{
			isCanonicalIndex &&
			<link rel="canonical" href={theater.our_website_link + pathname}/>
		}
		<title>{pageTitle}</title>
		{
			description && description.length > 0 && 
			<meta name="description" content={description} />
		}		
		<link rel="icon" href="/favicon32.ico" sizes="32x32" />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon.png" sizes="48x48" />
		<link rel="icon" type="image/png" href="/favicon96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		{
			theater.languages.map(lng => {
				return (
					<link rel="alternate" href={theater.our_website_link + pathname.replace('/'+lang+'/', '/'+lng.lang_code+'/')} hreflang={lng.lang_code} />
				);
			})
		}
		<link rel="alternate" href={theater.our_website_link + pathname.replace('/'+lang+'/', '/ru/')} hreflang="x-default" />
		<!-- <meta http-equiv="Permissions-Policy" content="unload=()"> -->
		<meta name="generator" content={Astro.generator} />
	</head>

	<body class="no-js">

		<script>
		import { removeNoJS, saveLangOfPage } from "@scripts/antrepriza.js"
			document.addEventListener('DOMContentLoaded', () => {
				removeNoJS();
				saveLangOfPage();
			});
		</script>

		<div class="wrapper">
			<Header lang={lang} />
			<main class="wrapper-main">
				<slot/>
			</main>
			<Footer lang={lang} />
		</div>
	
		{
			(reservation !== 'no') &&
			<Reservation client:only="react" lang={lang}></Reservation>
		}
    <FeedbackForm lang={lang}/>
		{
			pageNeedTicketForm &&
			<TicketForm lang={lang}/>
		}
    <input type="checkbox" id="theme-switcher" tabindex="-1" checked/>
	</body>
	
</html>