---
const { lang } = Astro.props;

import dictionary from '@data/dictionary.json'
import theater from '@data/theater.json'

import '@styles/contacts.css'

import ContentRu from '@layouts/content/theater/contact_ru.astro'
import ContentDe from '@layouts/content/theater/contact_de.astro'

let Content;
if (lang === 'de') Content = ContentDe;
else Content = ContentRu;

---

<section class="contact">
  <h1 class="section-title">{dictionary.menu_contact[lang]}</h1>
  <div class="contact-flex">
    <iframe class="flex-item-left" src={theater.google_map[lang]} width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="flex-item-right">
      <h3>
        {theater.longTheaterName[lang]}&nbsp/<br>
        {theater.stages[0].place_name}
      </h3>
      <address>
        {theater.stages[0].address.street} {theater.stages[0].address.building} <br>
        {theater.stages[0].address.index} {theater.stages[0].address.city}-{theater.stages[0].address.district}
      </address>
      <div>
        <a class="info-text" href={"tel:"+theater.phone}>
          <span class="font-opacity0">{dictionary.telephone[lang]}: </span>
          <span class="font-opacity1 phone-number">{theater.phone}</span>
        </a>
      </div>
      <div>
        <a class="info-text" href={"mailto:"+theater.email}>
          <span class="font-opacity0">{dictionary.email[lang]}: </span>
          <span class="font-opacity1">{theater.email}</span>
        </a>
      </div>
      <div class="description">
        <Content/>
      </div>
    </div>
  </div>
</section>