---

const { lang, play_id, date, time } = Astro.props;

import '@styles/event.css'

import plays from '@data/plays.json'
import dictionary from '@data/dictionary.json'
import theater from '@data/theater.json'
import program from '@public_data/afisha.json'
import prices from '@data/prices.json'

let play = plays.find(item => (item.id.toString() === play_id));
let event = program.find(item => (item.play_id.toString() === play_id && item.date === date && item.time === time));

let stage = theater.stages.find(stg => stg.sid === event.stage_sid);
let stageNameText  = dictionary.stage[lang] + " " + stage.name[lang].toUpperCase();

let performer = theater.longTheaterName[lang];
if (theater.fix_stages.includes(stage.sid)) performer = performer + " - " + stage.name[lang].toUpperCase();

let ticketsName = "";
let ticketsPrice = "";
event.prices.forEach(price_type => {
  let price = prices.find(item => item.type === price_type);
  if (ticketsName.length === 0) {
    ticketsName = price.text_short[lang];
    ticketsPrice = `${price.value.toString()}€`; 
  } else  {
    ticketsName = `${ticketsName} / ${price.text_short[lang]}`;
    ticketsPrice = `${ticketsPrice} / ${price.value.toString()}€`;
  }
});

import type { ImageMetadata } from 'astro'
import { Picture } from 'astro:assets'
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg}');

/*
  .ev-photo {
    max-width: 460px;
    margin: 2em auto 0 auto;
  }

  <div class="ev-photo">
    <Picture 
      class:list={'image-wrapper-landscape'} 
      src={images["/src/assets/" + play.posters.landscape]()} 
      formats={['webp']} 
      fallbackFormat='jpg'
      loading="eager"
      widths={[640]}
      sizes={'640px'}
      alt={play.alt_title[lang]} />
  </div>

*/

---

<section class="event">
  <div class="event-flex">
    {
      play && event && play.posters.afisha &&
      <div class="flex-item-poster">
        <Picture 
          class:list={'image-wrapper-landscape float poster'} 
          src={images["/src/assets/" + play.posters.afisha]()} 
          formats={['webp']} 
          fallbackFormat='jpg'
          loading="eager"
          widths={[320]}
          sizes={'320px'}
          alt={play.title[lang]} />
      </div>
    }
    <div class="flex-item-description">
      <h2 class="ev-name">{dictionary.play_lang[lang]} {play.title[lang].toUpperCase()}</h2>
      <h5 class="ev-performer">{performer}</h5>
      <div class="ev-when">
        <h4 class="ev-date">{date}</h4>
        <h4 class="ev-time">{time}</h4>
      </div>
      <h4 class="play-property label-before" data-label={dictionary.genre[lang]+": "}>
        {play.genre[lang]}, {play.age}
      </h4>
      <h4 class="play-property label-before" data-label={dictionary.language[lang]+": "}>
        {play.lang[lang]}
      </h4>
      {
        event.event_type && event.event_type.is_festival &&
        <h4 class="play-property label-before festival" data-label={dictionary.festival[lang]+": "}>
          { event.event_name[lang] }
        </h4>
      }
      <div class="info-flex">
        <address class="play-property label-before" data-label={dictionary.address[lang]+": "}></address>
        <address class="play-property">
          { stage.fix_stage && stage.place_name} { stage.fix_stage && <br>}
          { stage.address.full_string }
        </address>
      </div> 
      {
        event.prices.length > 0 &&
        <div class="info-flex">
          <h4 class="play-property label-before" data-label={dictionary.tickets[lang]+": "}></h4>
          <h4 class="play-property">
            { ticketsName }<br>
            { ticketsPrice }
          </h4>
        </div>
      }     
      <h4><a href={`/${lang}/plays/${play.suffix}/`} class="link-more">{dictionary.more_about_play[lang]}</a></h4>  
    </div>
  </div>
  <div class="page-end"></div>
</section>
